@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    box-sizing: border-box;
    color: #3A5349;
}

 body{
        position: relative;
        box-shadow: #2e2e31  inset;
    }

a{
    text-decoration:none;
    }




        /*header*/

 nav{
    background-color: #C5C1B1;
    padding: 25px 0;
    /* box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25); */
    font-size: 1.1rem;
    position: fixed;
    top: 0;
    transition: 0.4s;
    width: 100%;
    text-align: right;
    }


.ul{
    display: flex;
    flex-direction: row;
    text-align: right;
    text-decoration: none;


}
li{
    color: #3A5349 ;
}
.lista1{
    display:inline;
    padding: 0px 10px;
    
}
.lista1:hover{ 
    display:inline;
    padding: 0px 10px;
    color:#D89A6A;
    cursor: pointer;
   
}
.lista1:active{ 
    display:inline;
    color:#D89A6A;
    cursor: pointer;
    padding: 0.625em 0.625em 0.75em 0.625em;
    border: 1px;
    border-radius: 100px;
    box-shadow:0 0 8px #3A5349;
    text-decoration: none;}

    .boton{
        background-color: #3A5349;
        color: #C5C1B1;
        padding: 15px 40px;
        border-radius: 100px;
        border: o.5px solid #000;
        font-weight: 500;
        font-size: medium;
        justify-content: center;
        align-items: center;
        /* width: 200px; */
        height: 49px;
         cursor: pointer;
        transition: 0,4s;
    
        }
     .boton:hover{
            background-color: #2d4038;
            color: white;
            padding: 15px 40px;
            border-radius: 100px;
            font-weight: 500;
            justify-content: center;
            align-items: center;
            /* width: 200px; */
            height: 49px;
            cursor: pointer;
            transition: 0,4s;
        }



section{
    height: 100vh;
}
    
            /* Hola/section 1*/
    
#hola{
    width: 100%;
     display: flex;
    align-items: end;
    justify-content: start;
    background-image: url(imagenes/img_fondo/porfolio-portada\ 1.jpg);
    background-size: cover;
   
}



.div-section-hola{
    width: 30vw;
    height: 30vh;
    margin: 7vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1{
    font-size: 4rem;
    font-weight:600;
    color: #3A5349 ;
    /* margin: 0px 0px 5px; */
}

h2{
    color: #3A5349 ;
    font-size: 3rem;
    /* margin-top: 0;
    margin-bottom: 5px; */
    font-weight: 700;
}

.parrafo-hola{
    color: #3A5349 ;
    font-size: 1.5rem;

}

/* .boton-lo-que-hago{
    margin-top: 5px;
} */

.div-img-hola{
    width: 50%;
    height: auto;
}
.img-hola{
    height: 500px; ;
    width: 100%; ;

}

.sobre-mi{
    background-image: url(imagenes/img_fondo/sobre-mi.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.div-texto{
    width: 50vw;
}


            /* Mis conocimientos*/


.mis-conocimientos{
    width: 100%;
    background-image: url(imagenes/img_fondo/fondo-general.jpg);
    background-size: cover;
    padding: 110px 40px 130px 40px;
    
}
.h2-conocimientos{
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    margin: 37px 0px 17px ;
}

.parrafo-conocimientos{
    text-align: center;
    margin: 16px 0px 56px;
}
.div-conocimientos-bloque{
    display: flex;
    flex-direction: row;
    justify-content: center;  
}


.div-conocimientos{
    background-color: #C5C1B1;;
    color: #2e2e31;
    /* border: 2px solid #aba58d; */
    border-radius: 8px;
    width: 260px;
    margin: 10px;
    padding: 30px;
    transition: 0.2s;
    display: flex;
    text-align: center;
    align-items: center;
    
    
}




/* cita*/


.cita { 
    width: 100%;
    height: 568px;
    background-color:#C5C1B1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 110px 40px 130px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: white;
}
.comillas{
    font-size: 80px;
}
.parrafo-cita{
    font-size: 20px;
}
.h3-cita{
    font-size: 30px;
}



/*Conocimientos*/
.div-conocimientos{
        display: block;
        width: 260px;
        height: 229px;
        
    }
.img-logo-conocimientos{
        margin: 24px 0px 20px;
    }
    


    /*Proyectos*/
   
.mis-proyectos{
        width: 100%;
        height: auto;
        display: flex;
        background-image: url(imagenes/img_fondo/fondo-general.jpg);
        background-size: cover;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        }
        
        
    
.div-texto-proyectos{
    text-align: center;

}

 .proyectos-container-cards{
        width: 80vw;
        height: auto;
     display: flex;
     justify-content: center;
        flex-wrap: wrap;
        gap: 2rem; /* Espacio entre im치genes */
        margin: 2rem;
        padding: 1rem;
        /* margin: 10rem; */
    }


.card{
    width: 15vw;
    height: auto;
    background-color: #C5C1B1;
    border-radius: 5px;
    padding: 2rem;
    text-align: center;
}
 .card img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 5px;
    }
    
   .card h3 {
    margin: 1rem;
   }


/* Formulario*/
.section-formulario{
    background-color: #aba58d;
    width: 100%;
    height: auto;
   padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .div-formulario{
    width: 85%;
    height: auto;
    display: flex;
    text-align: left;
    background-color: #C5C1B1;
    padding: 80px 60px;
    border-radius: 15px;
    /* border: 1px solid #e0e0e0; */
    flex-direction: row;}

    .contactame{
        width: 50%;
        height: auto;
        padding-right: 70px;
      
    }

    .div-texto-contactame{
        padding-bottom: 50px;
    }
   .formulario-h2{
        padding-bottom: 30px;
        font-size: 2rem;
    }


 .div-redes {
     display: flex;
     flex-direction: row;
     box-shadow: #8338ec;
    box-shadow: 2px;
    display: flex;
    color: #2e2e31;
    align-items: center;
    padding: 5px 10px;
    border-radius: 100px;
    transition: 0.2s;
    cursor: pointer;
  
 }
 .div-redes:hover {
    display: flex;
    flex-direction: row;
    box-shadow: #8338ec;
    box-shadow: 2px;
    display: flex;
    color:#8338ec ;
    align-items: center;
    padding: 5px 10px;
    border-radius: 100px;   
    transition: 0.2s;
    cursor: pointer;   
}


 .icono{
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    background-color: #f5f4f1;
    color: #8338ec;
    border-radius: 50%;
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin-right: 10px;
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
}
.icono:hover{
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    background-color:#aba58d;
    color:white;
    border-radius: 50%;
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin-right: 10px;
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
}
.datos-contacto-redes{
    margin-top: 7px;
    transition: 0.2s;
    cursor: pointer;
}
.datos-contacto-redes:hover{
    margin-top: 9px;
    transition: 0.2s;
    cursor: pointer;
}
.escribime{
    width: 50%;
    height: auto;
}
label{
    font-size: 1.2rem;
}
input[type=text] {
    border-radius: 20px;
    background-color: #f5f4f1;
    border: 1px solid #f6f7fb;
    font-size: var(--text-sm);
    padding: 10px 15px;
    display: flex;
    width: 100%;
    outline: none;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    transition: 0.2s;
    justify-content: space-between;
    margin-top: 6px;
}

    input[type=email] {
        border-radius: 20px;
        background-color: #f5f4f1;
        border: 1px solid #f6f7fb;
        font-size: var(--text-sm);
        padding: 10px 15px;
        display: flex;
        width: 100%;
        outline: none;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        transition: 0.2s;
        justify-content: space-between;
        margin-top: 6px;
    }

    .nombre-apellido-form{
        display: flex;
        align-items: row;
        width: 100%;
        justify-content: space-between;
    }
    
   
    #idMensaje{
        height: 172px;
        width: 100%;
    }


   .boton_enviar{
    width: 100px;
    display: flex;
    justify-content: center;
    margin: 4%;
    }
    .boton_enviar:hover{
    width: 100px;
    display: flex;
    justify-content: center;
    margin: 4%;
    cursor: pointer;
    }

 
 
 /* validaciones*/
.form__input {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .form__input:valid:focus {
    box-shadow: 0px 0px 5px #88c459;
  }
  
  .form__input:invalid:not(:placeholder-shown):focus {
    box-shadow: 0px 0px 5px #f5414f;
  }
  
  .form__input:invalid:not(:placeholder-shown){
    border: 1px solid #f5414f;
  }
  
  .form__input:valid{
    border: 1px solid #88c459;
  }
  
  .icon-invalid,
  .icon-valid {
    display: none;
    position: absolute;
    bottom: 35px;
    right: 20px;
 color: #88c459;
  }
  

  .icon-invalid {
    color: #f5414f;
  }
  
  input:valid ~ .icon-valid,
  input:not(:placeholder-shown):invalid ~ .icon-invalid {
    display: block;
  }
  

 /*footer*/

    footer{
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 80px 20px 60px;
        background-color: #C5C1B1;
        /* color: white; */
    }
            .lista2{
            display:inline;
        padding: 0px 10px;
        /* color: white; */
            }

            .lista2:focus{
                display:inline;
            padding: 0px 10px;
            color: white;
            box-shadow: 2px white;
                }
     
 
    .redes-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 90px;;
        width: 250px;
        font-size: 25px;
    }
    .icono-footer{
        height: 44px;
        width: 44px;
        /* border: white solid 1 px; */
        border-radius: 150px;
        background-color:#f5f4f1;
        color: #8338ec;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        cursor: pointer;
    }
    .icono-footer:hover{
        height: 44px;
        width: 44px;
        /* border:white solid 1px; */
        border-radius: 150px;
        background-color:#aba58d;
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        cursor: pointer;
    }
    .fa-heart{
        color: red;
    }


    @media screen and ( max-width: 375px){
        header{ 
            display: none
        }
        #hola{
            width: 90%;
            margin: 0 auto;
            display: block;
        }

        .div-section-hola{
                width: 70%;
                

        }
        .div-img-hola{
            width: 100%;
    }


        .img-hola{
            width: 100%; ;
    }
        .div-hola{
            width: 100%;
            
        }

        .div-conocimientos-bloque{
            display: flex;
            flex-direction: column;
            justify-content: center;  
            font-size: 1rem;
        }

        .mis-proyectos{
            height: auto;
            display: flex;
            justify-content: center;
        }

        .proyectos-container-cards{
            flex-direction:column;
            
        }
            
    }
.section-formulario{
    display: flex;
    flex-direction: column;
}
    
    .div-formulario{
        width: 100%;
        height: auto;
        display: flex;
        text-align: left;
        background-color: #C5C1B1;
        padding: 80px 60px;
        border-radius: 15px;
        /* border: 1px solid #e0e0e0;} */


    }
    .contactame{
        width: 100%;
    }
    .escribime{
        width: 100%;
    
    }
    footer{
        height: auto;
        width: 100%;
        flex-direction: block;
    }
     /* Estilos para pantallas grandes*/
     @media (min-width: 600px) {
        .card img {
            flex: 1 1 calc(33.333% - 20px); /* Tres im치genes por fila */
        }
    }
    
     /* Estilos para pantallas medianas  */
    @media (max-width: 599px) and (min-width: 400px) {
        .card img {
            flex: 1 1 calc(50% - 20px); /* Dos im치genes por fila*/
        }
    }
    
  /* Estilos para pantallas peque침as  */
    @media (max-width: 399px) {
        .card img{
            flex: 1 1 100%; /* Una imagen por fila */
        }
    } 